* {
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
background-color: black;
}
h1 {
    color: blanchedalmond;
}

.header_menu {
    display: flex;
    justify-content: center;
}

.header_menu ul {
    display: flex;

}

li {
    margin: 0 20px;
    font-size: 20px;
    list-style: none;
    color: aliceblue;
}