* {
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 50px 50px;
}

.header_menu {
    display: flex;
    justify-content: center;
}

.header_menu ul {
    display: flex;

}

li {
    margin: 0 20px;
    font-size: 20px;
    list-style: none;
}