* {
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    background-color: black;
}

h1 {
    color: blanchedalmond;
}

.header_menu {
    display: flex;
    justify-content: center;
}

.header_menu ul {
    display: flex;

}

li {
    margin: 0 20px;
    font-size: 20px;
    list-style: none;
    color: aliceblue;
}

.content {
    display: flex;
    flex-direction: column;
    height: 1200px;
    border: 1px solid black;
    margin: auto;
}
.top_content {
    height: 50%;
    border: 1px solid black;
}